<div class="col-12">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="p-fluid p-formgrid grid">
      <div class="field col-12 md:col-6">
          <app-input-text 
            label="Role Name" 
            formControlName="name" 
            [required]="true"
            [readonly]="false" />
          <app-validator-msg [control]="f['name']" />
      </div>
      <div class="field col-12">
        <app-tree
          label="App Menus"
          inputId="menuId"
          formControlName="roleMenus"
          [options]="optionDataSources['appMenuTreeList']" />
      </div>
      <div class="field col-12">
        <app-tree
          label="Permissions"
          inputId="menuId"
          formControlName="permissions"
          [options]="optionDataSources['permissionNodeList']" />
      </div>
    </div>
    <div class="mt-3 p-dialog-footer">
      <button pButton pRipple label="Cancel" type="button" icon="pi pi-times" class="p-button-text"
        (click)="cancel()"></button>
      <button pButton pRipple label="Save" type="submit" icon="pi pi-check" class="p-button-text"
        [disabled]="form.invalid"></button>
    </div>
  </form>
</div>
