
.input-switch-label{
  margin-right: 1.5rem;
}

/* Adjust the z-index of the dropdown options tray */
.ui-dropdown-panel {
  z-index: 1001; /* Ensure it's stacked above other elements */
}

/* Adjust the positioning of the dropdown options tray */
.ui-dropdown-panel {
  position: fixed; /* Position it relative to the viewport */
  /* Or position: absolute; if you want it relative to a container */
}





