<app-toast></app-toast>
<app-confirm-dialog></app-confirm-dialog>

<div class="grid">
    <div class="col-12">
        <div class="card px-2  pb-6 sm:px-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div >
                        <ng-container *ngFor="let action of leftToolbarActions">
                            <app-button 
                                [id]="action.actionName + '_btn'"
                                [label]="action.caption" 
                                class="mr-2" 
                                [size]="'small'"
                                [icon]="action.icon"
                                [severity]="action.severity"
                                (onClick)="handleAction(action.actionName)" />
                        </ng-container>                   
                        <!-- <p-button 
                            pRipple
                            [raised]="true"
                            severity="help" 
                            label="Refresh" 
                            icon="pi pi-sync" 
                            class="mr-2" 
                            styleClass="p-button-sm"
                            [loading]="loading" 
                            [disabled]="loading"
                            (click)="refreshGrid()">
                        </p-button>
                        <p-button 
                            pRipple 
                            [raised]="true"
                            severity="danger" 
                            label="Delete" 
                            icon="pi pi-trash" 
                            class="mr-2" 
                            styleClass="p-button-sm"
                            (click)="deleteSelectedItems()" 
                            [disabled]="!selectedItems || !selectedItems.length">
                        </p-button> -->
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload 
                        mode="basic" 
                        accept="image/*" 
                        [maxFileSize]="1000000" 
                        label="Import" 
                        styleClass="p-button-sm"
                        chooseLabel="Import" 
                        class="mr-2 inline-block">
                    </p-fileUpload>
                    <p-button 
                        pRipple 
                        [raised]="true"
                        severity="help" 
                        label="Export" 
                        icon="pi pi-upload" 
                        styleClass="p-button-sm"
                        class="p-button-help" 
                        (click)="dt.exportCSV()">
                    </p-button>
                    <app-button icon="pi pi-wrench" [rounded]="true" [outlined]="true" size="small" (onClick)="showPageSetting()" styleClass="ml-2" />
                </ng-template>
            </p-toolbar>

            <p-table #dt 
                [value]="items" 
                [columns]="dataFields" 
                [rows]="rows"  
                [responsiveLayout]="responsiveLayout" 
                [globalFilterFields]="globalFilterFields" 
                [paginator]="paginator" 
                [rowsPerPageOptions]="rowsPerPageOptions" 
                [showCurrentPageReport]="showCurrentPageReport" 
                [currentPageReportTemplate]="currentPageReportTemplate" 
                [totalRecords]="totalRecords"
                [(selection)]="selectedItems" 
                [selectionMode]="selectionMode" 
                [rowHover]="rowHover" 
                [dataKey]="dataKey"
                [loading]="loading"
                [filterDelay]="debounceTimeout"
                [lazyLoadOnInit]="false"
                [lazy]="lazyLoading"
                styleClass="p-datatable-striped" 
                (onLazyLoad)="loadData($event)">

                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="mb-2 sm:m-0">{{pageTitle}}</h5> 
                        <span class="block md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input 
                                pInputText 
                                #globalSearchInput 
                                [pTooltip]="toolTipContent"
                                tooltipPosition="top"
                                type="text" 
                                (input)="onSearchInput($event)" 
                                (keyup.enter)="onSearchEnter($event)"
                                placeholder="Search..."  
                                class="w-10 sm:w-auto"/>
                                <ng-template #toolTipContent>
                                    <div class="flex align-items-center text-xs">
                                        <span> {{globalfiltersTooltip}}</span>
                                    </div>
                                </ng-template>
                            <p-button 
                                label="Clear" 
                                class="ml-3 hidden sm:inline" 
                                [outlined]="true" 
                                icon="pi pi-filter-slash" 
                                (click)="clear()" />
                            <p-button 
                                class="ml-3 sm:hidden" 
                                [outlined]="true" 
                                icon="pi pi-filter-slash" 
                                (click)="clear()" />
                            <!-- <i class="pi pi-filter-slash ml-2"  (click)="clear(dt)"></i> -->
                        </span>
                    </div>
                </ng-template>

            <ng-template pTemplate="header" let-columns>
                    <tr>
                        <!-- <th style="width: 3rem" *ngIf="!hasDropdownOrDateType">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th> -->
                        <ng-container *ngFor="let col of columns">
                            <th [pSortableColumn]="col.isSortable ? col.field : ''" >
                            
                            <!-- FieldType.string -->
                            <p-columnFilter 
                                type="text" 
                                *ngIf="col.isFilterable && col.fieldType === FieldType.string" 
                                [field]="col.field" 
                                display="menu" 
                                [showAddButton]="false" 
                                [showClearButton]="true"  />

                            <!-- FieldType.select -->
                            <p-columnFilter 
                                *ngIf="col.isFilterable && col.fieldType === FieldType.select" 
                                [field]="col.field" 
                                [showMenu]="true"
                                [matchMode]="FilterMatchModes.EQUALS"
                                display="menu"
                                [showMatchModes]="false"
                                [showOperator]="false"
                                [showAddButton]="false"
                                >
                                <ng-template 
                                    pTemplate="filter" 
                                    let-value let-filter="filterCallback">
                                    <p-dropdown 
                                        [(ngModel)]="dynamicDropdownValues[generateDropdownKey(col.field, 'select')]"
                                        [options]="optionsDataSources[col?.dSName]" 
                                        (onChange)="filter($event.value?.id)" 
                                        placeholder="Select One"
                                        [optionLabel]="'name'" 
                                        [showClear]="true">
                                            <ng-template let-option pTemplate="item">
                                                <p-tag 
                                                    [value]="option.name" 
                                                    [severity]="option.severity" />
                                            </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>   

                            <!-- FieldType.multiSelect -->
                            <p-columnFilter 
                                *ngIf="col.isFilterable && col.fieldType === FieldType.multiSelect" 
                                [field]="col.field" 
                                [showMenu]="true"
                                [matchMode]="FilterMatchModes.IN"
                                display="menu"
                                [showMatchModes]="false"
                                [showOperator]="false"
                                [showAddButton]="false"
                                >
                                <ng-template 
                                    pTemplate="filter" 
                                    let-value let-filter="filterCallback">
                                    <p-multiSelect 
                                        [(ngModel)]="dynamicDropdownValues[generateDropdownKey(col.field, 'select')]"
                                        [options]="optionsDataSources[col?.dSName]" 
                                        placeholder="Select Any" 
                                        (onChange)="filter($event.value)" 
                                        optionLabel="name"
                                        [showClear]="true">
                                            <ng-template let-option pTemplate="item">
                                                <div class="inline-block vertical-align-middle">
                                                    <span class="ml-1 mt-1">{{ option.name }}</span>
                                                </div>
                                            </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>  

                            <!-- FieldType.date -->
                            <p-columnFilter 
                                *ngIf="col.isFilterable && col.fieldType === FieldType.date"
                                type="date" 
                                [field]="col.field" 
                                display="menu">
                            </p-columnFilter>
                                                                               
                            {{col.header}}

                            <p-sortIcon 
                                [hidden]="!col.isSortable" 
                                [field]="col.field">
                            </p-sortIcon>
                        </th>
                        </ng-container>
                    <th *ngIf="appPageLayout?.showRowActionCol === true"></th>
                    </tr>


                </ng-template>
                <ng-template pTemplate="body" let-items let-columns="columns">
                    <tr >
                        <!-- <td >
                            <p-tableCheckbox [value]="items"></p-tableCheckbox>
                        </td> -->
                        <ng-container *ngFor="let col of columns">
                            <td *ngIf="col.fieldType !== FieldType.date">
                                {{items[col.field]}}
                            </td>
                            <td *ngIf="col.fieldType === FieldType.date">
                                {{items[col.field] | date: 'dd/MM/yyyy'}}
                            </td>
                        </ng-container>
                        <td *ngIf="appPageLayout?.showRowActionCol === true">
                            <div class="flex" *ngIf="appPageLayout?.rowActionType === 'button'">
                                <ng-container *ngFor="let action of rowActions">
                                <app-button 
                                    [icon]="action.icon" 
                                    [severity]="action.severity" 
                                    [rounded]="true" 
                                    size="small" 
                                    class=" mr-2" 
                                    (onClick)="handleRowAction(action.actionName, items)" />
                                </ng-container>
                            </div>
                        </td>

                        <!-- <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span [class]="'status-badge status-' + (item.statusName.toLowerCase())">{{item.statusName}}</span>
                        </td>  -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="100%">
                            <div class="p-datatable-emptymessage text-center"><i class="pi pi-box"></i> No data found</div>
                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </div>


    </div>
</div>




