<app-toast />
<div class="card">
    <p-tabView [scrollable]="true">
        <p-tabPanel header="About">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <span class="pi pi-home"></span>
                    <span class="font-bold white-space-nowrap m-0">
                        About
                    </span>
                </div>
            </ng-template>
            <user-user-basic />
        </p-tabPanel>
        <p-tabPanel header="Change Password">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <span class="pi pi-lock"></span>
                    <span class="font-bold white-space-nowrap m-0">
                        Change Password
                    </span>
                </div>
            </ng-template>
            <user-change-password />
        </p-tabPanel>
        <p-tabPanel header="Change Photo">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <span class="pi pi-image"></span>
                    <span class="font-bold white-space-nowrap m-0">
                        Change Photo
                    </span>
                </div>
            </ng-template>
            <user-change-profile-photo />
        </p-tabPanel>
        <p-tabPanel header="Reset Password">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <span class="pi pi-undo"></span>
                    <span class="font-bold white-space-nowrap m-0">
                        Reset Password
                    </span>
                </div>
            </ng-template>
            <user-change-profile-photo />
        </p-tabPanel>
    </p-tabView>
</div>