:host ::ng-deep {

  ng-invalid.ng-touched input {
    border: 1px solid #f19ea6;
  }

  .label {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  .required-star{
    color: #f19ea6;
  }

  .digit-right .p-inputnumber-input{
    width: 1%;
    text-align: right;
  }
}