<div class="col-12">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-6">
                <app-input-text 
                    label="Code" 
                    formControlName="code" 
                    [required]="true"
                    [readonly]="false" />
                    <app-validator-msg [control]="f['code']"></app-validator-msg>
            </div>
            <div class="field col-12 md:col-6">
                <app-input-text 
                    label="Name" 
                    formControlName="name" 
                    [required]="true"
                    [readonly]="false" />
                    <app-validator-msg [control]="f['name']"></app-validator-msg>
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="status">Parent Name</label>
                <p-dropdown formControlName="parentId" inputId="parentId" optionValue="id" optionLabel="name" 
                    [options]="optionDataSources['parentSelectList']" [showClear]="true" [filter]="true" filterBy="name" placeholder="Select one"  appendTo="body">
                </p-dropdown>
            </div>
            <div class="field col-12 md:col-6 md:flex align-items-center md:mt-4">
                <div class="flex align-items-center">
                    <label class="input-switch-label" htmlFor="status">Status</label>
                    <p-inputSwitch class="input-switch ml-2" formControlName="status"  />
                </div>
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="state">Created</label>
                <p-calendar formControlName="created" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy"
                    [iconDisplay]="'input'" [showIcon]="true" [showButtonBar]="true" appendTo="body" />
            </div>
            <div class="field col-12 md:col-6">
                <app-input-text-area 
                    label="Description" 
                    formControlName="description" 
                    [required]="true"
                    [max]="5"
                    [showCharLength]="true" />
                    <app-validator-msg [control]="f['description']"></app-validator-msg>
            </div>
            <div class="field col-12 md:col-6">
                <app-input-decimal
                    label="Balance"
                    formControlName="balance"
                    [textRight]="true"
                    [showButtons]="false" />
            </div>
        </div>
        <div class="mt-3 p-dialog-footer">
            <button pButton pRipple label="Cancel" type="button" icon="pi pi-times" class="p-button-text"
                (click)="cancel()"></button>
            <button pButton pRipple label="Save" type="submit" icon="pi pi-check" class="p-button-text"
                [disabled]="form.invalid"></button>
        </div>
    </form>
</div>