<div class="col-12">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-6">
                <app-input-text 
                    label="Code" 
                    formControlName="code" 
                    [required]="true"
                    [readonly]="false" />
                    <app-validator-msg [control]="f['code']"></app-validator-msg>
            </div>
            <div class="field col-12 md:col-6">
                <app-input-text 
                    label="Name" 
                    formControlName="name" 
                    [required]="true"
                    [readonly]="false" />
                    <app-validator-msg [control]="f['name']"></app-validator-msg>
            </div>
            <!-- <div class="field col-12 md:col-6">
                <label htmlFor="status">Parent Name</label>
                <p-dropdown formControlName="parentId" inputId="parentId" optionValue="id" optionLabel="name" 
                    [options]="optionDataSources['parentSelectList']" [showClear]="true" [filter]="true" filterBy="name" placeholder="Select one"  appendTo="body">
                </p-dropdown>
            </div> -->
            <!-- <div class="field col-12 md:col-6 md:flex align-items-center md:mt-4"> -->
            <div class="field col-12 md:col-6 md:flex align-items-center md:mt-4">
                <!-- <div class="flex align-items-center"> -->
                    <app-input-switch label="Status" formControlName="status" />
                <!-- </div> -->
            </div>
            <div class="field col-12 md:col-6 d-flex ">
                <app-input-date label="Created Date" formControlName="createdDate" [required]="true" />
            </div>
            <div class="field col-12 md:col-6">
                <app-input-date label="Created DateTime" formControlName="created" [showTime]="true" />
            </div>
            <div class="field col-12 md:col-6">
                <app-input-time label="Created Time" formControlName="createdTime" [required]="true" />
                <app-validator-msg [control]="f['createdTime']"></app-validator-msg>
            </div>
            <div class="field col-12 md:col-6">
                <app-input-year label="Created Year" formControlName="createdYear" />
            </div>
            <div class="field col-12 md:col-6">
                <app-input-textarea 
                    label="Description" 
                    formControlName="description" 
                    [required]="true"
                    [max]="5"
                    [showCharLength]="true" />
                    <app-validator-msg [control]="f['description']"></app-validator-msg>
            </div>
            <div class="field col-12 md:col-6">
                <app-input-decimal
                    label="Balance"
                    formControlName="balance"
                    [textRight]="true"
                    [showButtons]="false"
                    [required]="true" />
                    <app-validator-msg [control]="f['balance']"></app-validator-msg>
            </div>
            <div class="field col-12 md:col-6">
                <app-input-number
                    label="Round"
                    formControlName="round"
                    [showButtons]="false"
                    [required]="true" />
            </div>
            <div class="field col-12 md:col-6">
                <app-input-currency
                    label="Tk"
                    formControlName="tk"
                    [showButtons]="false"
                    [required]="true" />
            </div>
            <div class="field col-12 md:col-6">
                <app-input-checkbox
                    label="Select Subject"
                    formControlName="subjects"
                    [optionDataSource]="optionDataSources['subjectSelectList']"
                    [required]="true" />
            </div>

            <div class="field col-12 md:col-6">
                <app-input-radio
                    label="Choose Subject"
                    formControlName="subjectRadio"
                    [optionDataSource]="optionDataSources['subjectRadioSelectList']"
                    [required]="true" />
            </div>

            <div class="field col-12 md:col-6">
                <app-input-select
                    label="Select Parent"
                    formControlName="parentId"
                    [optionDataSource]="optionDataSources['parentSelectList']"
                    [required]="true" />
            </div>
        </div>
        <div class="mt-3 p-dialog-footer">
            <button pButton pRipple label="Cancel" type="button" icon="pi pi-times" class="p-button-text"
                (click)="cancel()"></button>
            <button pButton pRipple label="Save" type="submit" icon="pi pi-check" class="p-button-text"
                [disabled]="form.invalid"></button>
        </div>
    </form>
</div>