<!-- 
<div class="grid">
  <div class="col-12">
    <app-input-file-adv

      (onUploadedFiles)="onUpload($event)"
       />
  </div>
</div> -->

<div class="mt-3">
  <p-fileUpload 
      name="files[]" 
      method="post"       
      [multiple]="false" 
      [auto]="false"
      [disabled]="false"
      [withCredentials]="true"
      [maxFileSize]="100000000"
      [customUpload]="true"
      (onProgress)="onProgress($event)"
      (onError)="onError($event)"
      (uploadHandler)="onUploadHandler($event)"
      maxFileSize="1000000">
          <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length">
                  <li *ngFor="let file of uploadedFiles">
                      {{ file.name }} - {{ file.size }} bytes
                  </li>
              </ul>
              <p-progressBar [value]="progressValue" *ngIf="progressValue > 0" [showValue]="false" />
          </ng-template>
  </p-fileUpload>
</div>

<div class="mt-3">
  <app-input-file-adv />
</div>





