<!-- 
<div class="grid">
  <div class="col-12">
    <app-input-file-adv

      (onUploadedFiles)="onUpload($event)"
       />
  </div>
</div> -->

<div class="card mt-4 flex justify-content-center">
  <p-fileUpload 
      name="demo[]" 
      (onUpload)="onUpload($event)" 
      [multiple]="true" 
      accept="image/*" 
      maxFileSize="1000000">
          <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length">
                  <li *ngFor="let file of uploadedFiles">
                      {{ file.name }} - {{ file.size }} bytes
                  </li>
              </ul>
          </ng-template>
  </p-fileUpload>
</div>



