<div *ngIf="!hidden" class="cust-field">
  <label class="label" *ngIf="label">
    {{ label }}
    <span class="required-star" *ngIf="required">*</span>
  </label>
  <p-tree
    [value]="optionDataSource"
    [selectionMode]="selectionMode"
    [loadingMode]="loadingMode"
    [selection]="selection"
    [style]="style"
    [styleClass]="styleClass"
    [contextMenu]="contextMenu"
    [layout]="layout"
    [metaKeySelection]="metaKeySelection"
    [propagateSelectionUp]="propagateSelectionUp"
    [propagateSelectionDown]="propagateSelectionDown"
    [loading]="loading"
    [loadingIcon]="loadingIcon"
    [emptyMessage]="emptyMessage"
    [ariaLabel]="ariaLabel"
    [togglerAriaLabel]="togglerAriaLabel"
    [ariaLabelledBy]="ariaLabelledBy"
    [validateDrop]="validateDrop"
    [filter]="filter"
    [filterBy]="filterBy"
    [filterMode]="filterMode"
    [filterPlaceholder]="filterPlaceholder"
    [filteredNodes]="filteredNodes"
    [filterLocale]="filterLocale"
    [scrollHeight]="scrollHeight"
    [lazy]="lazy"
    [virtualScroll]="virtualScroll"
    [virtualScrollItemSize]="virtualScrollItemSize"
    [virtualScrollOptions]="virtualScrollOptions"
    [indentation]="indentation"
    [trackBy]="trackBy"
    (selectionChange)="onSelectionChange($event)"
    (onNodeSelect)="onNodeSelect.emit($event)"
    (onNodeUnselect)="onNodeUnselect.emit($event)"
    (onNodeExpand)="onNodeExpand.emit($event)"
    (onNodeCollapse)="onNodeCollapse.emit($event)"
    (onNodeContextMenuSelect)="onNodeContextMenuSelect.emit($event)"
    (onLazyLoad)="onLazyLoad.emit($event)"
    (onScroll)="onScroll.emit($event)"
    (onScrollIndexChange)="onScrollIndexChange.emit($event)"
    (onFilter)="onFilter.emit($event)"
  ></p-tree>
</div>
